[Desktop Entry]
Name=HTYFB
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYFB/HTYFB
Icon=/media/sonichy/job/HY/Linux/Qt/HTYFB/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYFB
Terminal=false
Type=Application
MimeType=
Categories=